html {
  font-size: 16px;

  @include tablet {
    font-size: 15px;
  }

  @include phone {
    font-size: 13px;
  }
}

html { 
  box-sizing: border-box; 
}

*, *::before, *::after {
  box-sizing: inherit; 
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

a:active, a:focus { outline: none; }

input, textarea {
  outline:none;
}

input:active, textarea:active {
  outline:none;
}

:focus {
  outline:none;
}

textarea {
  resize:none;
}

textarea {
  resize:vertical;
}
textarea {
  resize:horizontal;
}

:focus::-webkit-input-placeholder {
  color: transparent;
}

:focus::-moz-placeholder {
  color: transparent;
}

:focus:-moz-placeholder {
  color: transparent;
}

:focus:-ms-input-placeholder {
  color: transparent;
}