extends ../_template

block variables
  - var title = "Наши услуги"
  - var activeMain = false
  - var activeComment = false
  - var activePrice = true
  - var banner = false

block content

  section.section--office   
    .container.container--office

      ul.bread
        li.bread__item
          a.bread__link.bread__link--active(href="#") Главная
        li.bread__item
          a.bread__link(href="#") Услуги

      h2.title.title--office Услуги
      ul.office
        li.office__item
          .office__pic.office__pic--1
            .office__pic-text Фитнес
          .office__text
            .office__title Фитнес
            .office__desc Фитнес - это основное направление в нашем центре. Открыто 6 залов для занятий с 7-00 до 22-00. Работают 24 фитнес-тренера, есть авторские и классические программы для похудения, восстановления фигуры, здоровья и молодости. Занятия с персональным тренером помогут достичь максимального результата в сжатые сроки.
        li.office__item
          .office__pic.office__pic--2
            .office__pic-text диетолог
          .office__text
            .office__title Личный диетолог
            .office__desc Поможет вам получить более заметный результат от тренировок. Создаст меню на каждый день, с учетом вкусовых предпочтений и особенностей здоровья. Проанализирует текущий рацион и укажет на ошибки. Поможет сделать питание разнообразным и полезным, объяснит доступно о важной роли тех или иных витаминов и микроэлементов.
        li.office__item
          .office__pic.office__pic--3
            .office__pic-text йога
          .office__text
            .office__title Йога
            .office__desc Гармония души и тела – это базовая составляющая здоровья и красоты. Наш зал для занятий йоги открыт для людей всех возрастов без ограничений. Отдельным направлением является йога для беременных с более щадящей программой. Йога тренеры имеют сертификаты и являются победителями международных конкурсов.
        li.office__item
          .office__pic.office__pic--4
            .office__pic-text петли трх
          .office__text
            .office__title Петли ТРХ
            .office__desc Новое направление для нашего центра, которое стало одним из самых популярных и востребованных. Программа TRX Suspension Training создана для людей с начальным уровнем подготовки и позволяет эффективно тренироваться, используя нарастающую нагрузку, которая зависит от силы и массы человека. Петли усиливают ловкость, гибкость и подвижность. В нашем центре проводятся индивидуальные и групповые тренировки ТРХ.
        li.office__item
          .office__pic.office__pic--5
            .office__pic-text кроссфит
          .office__text
            .office__title Кроссфит
            .office__desc Авторская запатентованная программа тренировки, включающая элементы тяжелой атлетики, занятий с гирями, гимнастики. Данная программа безупречно подходит для ежедневных тренировок людям с сидячим образом жизни. Преимущество кроссфита в том, что он одинаково хорошо воспринимается и мужчинами, и женщинами и подходит для семейных групповых тренировок. Высокая эффективности программы обусловлена чуткими рекомендациями наших сертифицированных тренеров.
        li.office__item
          .office__pic.office__pic--6
            .office__pic-text бассейн
          .office__text
            .office__title Бассейн
            .office__desc Большой 50 метровый бассейн, разделенный на 6 дорожек, позволит заниматься индивидуальным плаванием или аквааэробикой. Занятия проводит сертифицированный тренер – Ситник Ирина Валерьевна, известная своими успехами в школе подготовки олимпийского резерва. В бассейне есть место для занятий с детьми (ежедневно с 12-00 до 14-00), а также проводится аквааэробика для беременных каждый день в 10-00 и 19-00

  section.section--partners   
    .container.container--partners
      h2.title.title--partners Партнеры
      ul.partners
        li.partners__item
          a.partners__link(href="#")
            img.partners__img(src="./assets/images/content/logo1.png")
        li.partners__item
          a.partners__link(href="#")
            img.partners__img(src="./assets/images/content/logo-2.png")
        li.partners__item
          a.partners__link(href="#")
            img.partners__img(src="./assets/images/content/logo-3.png")   
        li.partners__item
          a.partners__link(href="#")
            img.partners__img(src="./assets/images/content/logo-4.png")
        li.partners__item
          a.partners__link(href="#")
            img.partners__img(src="./assets/images/content/logo-5.png")
        li.partners__item
          a.partners__link(href="#")
            img.partners__img(src="./assets/images/content/logo-6.png")                     
  