footer.footer
  .container.container__footer
    .footer__left
      .footer__text Сделано с любовью и старанием на курсе «Основы вёрстки» в 
        b LoftSchool
        |. Автор работы: 
        b Матвей Феникс
    .footer__center
      a.logo(href="./index.html") Афродита
    .footer__right
      .socials-list
        .socials-list__text Наши социальные сети
        ul.socials
          li.socials__item
            a.sprite.vk_png(href='#')
          li.socials__item
            a.sprite.fb_png(href='#')
          li.socials__item
            a.sprite.google_png(href='#')
          li.socials__item
            a.sprite.twitter_png(href='#')
          li.socials__item
            a.sprite.mail_png(href='#')
