block variables
  - var banner = ""

header.header
  .container.container--header
    .header__logo
      a.logo(href="./index.html") Афродита
    .header__nav
      include ./_nav
    .header__info
      a.header__info-phone(href="tel:+79221234567") 
        span 8 (800) 00-392-10
      .header__info-time 
        span График работы
        .dropdown
          .dropdown__shedule пн-вс: 09:00-20:00
          .dropdown__shedule.dropdown__shedule--dinner обед: 14:00-14:30
  




